*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 2px red solid;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 80vh;
  background: radial-gradient(#03a9f4, #004b6d);
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 5px 0px 10px;
  background-color: white;
  margin-bottom: 50px;
}

.logo img {
  width: 79px;
  height: 60px;
}

nav > ul {
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline;
  flex-wrap: wrap;
  margin: 0 20px;
}

@media (max-width: 720px) {
  nav ul li {
  margin: 0 5px;
}}

nav a {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 10px;
}

.fa-angle-down {
  margin-left: 10px;
}

li:hover a .fa:not(.fa-angle-down) {
  transform: scale(1.7);
  color: #faac04;
}

li:hover > a {
  color: lightgray;
}

li.dropdown {
  position: relative;
}

.dropdown-content {
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px white;
  border-radius: 10px;
  display: block;
  display: none;
  position: absolute;
  min-width: 160px;
  width: 200px;
  height: auto;
  padding: 15px;
  z-index: 1;
}

.dropdown-content li {
  display: block;
  border-bottom: 1px solid #f8b900;
  padding: 12px 16px;
  padding-left: 0;
  width: 90%;
}

#last {
  border-bottom: none;
}

.dropdown-content a:hover {
  color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
  left: 0;
  top: 30px;
}

.double-dropdown > ul {
  display: none;
  position: relative;
  background-color: #f5f5f5;
  box-shadow: 5px 5px 10px white;
  width: 200px;
  border-radius: 5px;
}

.double-dropdown > ul > li {
  position: relative;
}
.double-dropdown:hover > ul {
  display: block;
  position: absolute;
  left: 90%;
}
#wrapper {
    /* height: calc(100vh - 70px); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*
    ____              _ 
   / ___|__ _ _ __ __| |
  | |   / _` | '__/ _` |
  | |__| (_| | | | (_| |
   \____\__,_|_|  \__,_|
                        
*/

.double-dropdown:nth-child(2):hover > ul {
  top: 40%;
}

.double-dropdown:nth-child(3):hover > ul {
  top: 67%;
}

.two:hover > ul {
  display: block;
  position: absolute;
  left: 90%;
  top: 65%;
}

.double-dropdown > li {
  display: flex;
  justify-content: space-between;
}

img {
  width: 80px;
  height: 80px;
}
p {
  margin-bottom: 20px;
  color: #fff;
}
#border-rad {
    background: #ff0094;
    width: 60px;
    height: 60px;
    padding: 15px 0px 10px 25px;
    border-radius: 50%;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    position: absolute;
    top: 9px;
    left: 8px;
}
.info-container {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5vh 45%;
}
.info {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #03a9f4;
    margin: auto;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 24px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5),
        0 0 40px rgba(255, 255, 255, 0.5), 0 0 80px rgba(255, 255, 255, 0.5);
    clip-path: circle(30px at 11% 19%);
    transition: clip-path 0.5s ease-in-out;
}
.info:hover {
  clip-path: circle(100%);
}
.info:hover #border-rad {
    opacity: 0;
}
/*
   ____       __ _           _   _             
  |  _ \ ___ / _| | ___  ___| |_(_) ___  _ __  
  | |_) / _ \ |_| |/ _ \/ __| __| |/ _ \| '_ \ 
  |  _ <  __/  _| |  __/ (__| |_| | (_) | | | |
  |_| \_\___|_| |_|\___|\___|\__|_|\___/|_| |_|
                                               
*/
.reflections {
    /* outline: 5px yellow solid; */
    height: 35vh;
    width: 60vw;
    margin: auto;
    padding: 0 5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
}
.freelance {
    /* outline: 3px rgb(240, 0, 0) solid; */
    width: 80%;
    position: relative;
}
.dev {
    width: 90%;
    position: relative;
}
.freelance h1::before {
    content: "FREEKANCE";
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.9em;
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.5;
}
.dev h1::before {
    content: "wEB DEVELOPER";
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom;
    transform: rotateX(180deg);
    line-height: 0.9em;
    background: linear-gradient(0deg, #fff 0, transparent 80%);
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0.5;
}
/*
   _      _          _             
  / |    / \   _ __ (_)_ __ ___    
  | |   / _ \ | '_ \| | '_ ` _ \   
  | |  / ___ \| | | | | | | | | |_ 
  |_| /_/   \_\_| |_|_|_| |_| |_(_)
                                   
*/
.freelance h1 {
    animation: Freelance 10s infinite;
}
@keyframes Freelance {
    0% {
        transform: translate(500px);
        transition: linear;
    
    }
    45% {
        transform: translate(0px);
    }
    60% {
        transform: translate(500px);
    }
    70% {
        transform: translate(450px);
        transition: ease-in;
    }
    80% {
        transform: translate(500px);
        transition: ease-in-out;
    }
    100% {
        transform: translate(0);
    }
}
/*
   ____       _          _             
  |___ \     / \   _ __ (_)_ __ ___    
    __) |   / _ \ | '_ \| | '_ ` _ \   
   / __/   / ___ \| | | | | | | | | |_ 
  |_____| /_/   \_\_| |_|_|_| |_| |_(_)
                                       
*/
.dev h1 {
    animation: Dev 10s infinite;
}
@keyframes Dev {
    0% {
        transform: translate(500px);
        transition: linear;
    }
    20% {
        transform: translate(0px);
    }
    40% {
        transform: translate(500px);
    }
    55% {
        transform: translate(450px);
        transition: ease-in;
    }
    100% {
        transform: translate(0);
    }
}
/*
   _____           _            
  |  ___|__   ___ | |_ ___ _ __ 
  | |_ / _ \ / _ \| __/ _ \ '__|
  |  _| (_) | (_) | ||  __/ |   
  |_|  \___/ \___/ \__\___|_|   
                                
*/
footer { 
    outline: 2px red solid;
  background-color: black;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer > a {
  text-decoration: none;
  color: #2196f3;
  position: relative;
  display: block;
  padding: 15px 15px 15px 30px;
  margin: 0 25px;
  font-size: xx-large;
  letter-spacing: 15px;
  overflow: hidden;
  transition: 0.2s;
}

footer > a:hover {
  color: black;
  background-color: #2196f3;
  box-shadow: 0 0 20px #2196f3, 0 0 80px #2196f3, 0 0 160px #2196f3,
    0 0 320px #2196f3;
  transition-delay: 1s;
}

footer > a > span {
  position: absolute;
  display: block;
}

footer > a > span:nth-child(1) {
  top: 0;
  transform: translateX(-118%);
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

footer > a:hover > span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}

footer > a > span:nth-child(2) {
  top: calc(100% - 4px);
  transform: translateX(100%);
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

footer > a:hover > span:nth-child(2) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
}

footer > a > span:nth-child(3) {
  left: calc(100% - 4px);
  transform: translateY(-138%);
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

footer > a:hover > span:nth-child(3) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}

footer > a > span:nth-child(4) {
  left: 0;
  transform: translateY(100%);
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

footer > a:hover > span:nth-child(4) {
  transform: translateY(-130%);
  transition: 1s 0.75s;
}
